@import "../vars.scss";

.thumbnail {
  height: 90px;
  width: 90px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;

  .environment {
    position: absolute;
    left: 40px;
    top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;

    svg {
      margin-right: 2px;
    }
  }

  .sunny-days {
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;

    svg {
      margin-right: 2px;
    }
  }

  .pollution-tolerance {
    position: absolute;
    left: 42px;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .notebook-row {
    position: absolute;
    top: 64px;
    left: 0;
    width: calc(100% - 10px);
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

}
