$default-font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$default-font-weight: 500;
$default-color: #242424;

$gray-dark: #333333;
$gray-light: #999999;
$gray-light2: #eeeeee;
$gray-light3: #e8e8e8;
$gray-lighter: #eeeeee;
$gray-button-hover: #e1e1e1;
$gray-dark10: #eaeaea;

$thumbnail-border-radius: 8px;
$component-border-radius: 10px;
$control-panel-height: 81px;
$control-panel-content-height: 90px;

$simulation-transition-duration: 3.67s;
