@import "../vars.scss";

.simulation-view {
  height: 343px;
  width: 412px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    position: absolute;
    width: 100%;
  }

}
