@import "../vars.scss";

.tray {
  position: absolute;
  top: 19px;
  left: -16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 444px;
  height: 342px;
  opacity: 1;
  transition: opacity 250ms;

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }

  .header {
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 394px;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 80px;
      font-size: 16px;
      font-weight: bold;
    }

    .close {
      color: $gray-dark;
      font-size: 26px;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $gray-dark;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .25s;
      stroke: $gray-dark;
      cursor: pointer;

      &:hover {
        background-color: $gray-button-hover;
        box-shadow: 0 0 0 4px rgba(255,255,255,0.75);
      }

      &:active {
        box-shadow: 0 0 0 4px rgba(255,255,255,1);
      }

      &:disabled {
        stroke: rgba(51, 51, 51, .35);
        border-color: rgba(51, 51, 51, .35);
      }
    }
  }

  .animal-icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    &.selected {
      border: dashed 2px $highlight-yellow;
    }
  }
}
