@import "../vars.scss";

.tray-image-container {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: center;
  pointer-events: none;

  .tray-image-svg {
    position: absolute;
    top: 0px;
    left: 0px;

    .hi {
      display: none;
    }

    &.highlight {
      .hi {
        display: block;
      }
    }
  }

  .tray-image-clickable {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .click-area {
    fill: none;
  }

}

.preview {
  z-index: 999;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: center;
}
