@import "../vars.scss";

.chem-test {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 408px;
    background-color: $chemistry-blue-dark1;

    .test-num {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      font-size: 12px;
      font-weight: bold;
      margin: 5px;
    }
  }

  .test-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;

    .test-content {
      position: relative;
      width: 226px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image-stack {
        height: 100%;
        width: 100%;

        svg {
          position: absolute;
          left: 0;
          top: 0;
        }

        .chem-frame-enter {
          opacity: 0;
        }
        .chem-frame-enter-active {
          opacity: 1;
          transition: opacity 500ms;
        }
        .chem-frame-exit {
          opacity: 1;
        }
        .chem-frame-exit-active {
          opacity: 0;
          transition: opacity 500ms;
        }
      }
    }
  }

  .step-buttons-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 186px;

    .step-button {
      position: relative;
      width: 164px;
      height: 32px;
      margin: 5px 0;
      border-radius: 5px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
      border: solid 1px $gray-dark;
      background-color: #ffffff;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      padding-left: 10px;
      cursor: pointer;

      &.smallfont {
        font-size: 12px;
      }

      &:hover {
        background-color: $chemistry-blue-dark1;
      }
      &:active {
        background-color: $chemistry-blue-dark2;
        box-shadow: none;
      }

      &.disabled {
        pointer-events: none;
        opacity: .5;
      }
      &.finished {
        pointer-events: none;
        border: solid 1px $gray-dark25;
        color: $gray-dark2;
        box-shadow: none;
      }
      &.running {
        pointer-events: none;
        border: solid 1px $gray-dark;
        color: $gray-dark;
        opacity: 1;
        background-color: $chemistry-blue-dark2;
        box-shadow: none;
      }

      .step-check {
        position: absolute;
        top: 9px;
        right: -7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $habitat-green-check;
      }
    }
  }
}
