@import "../vars.scss";

.notebook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;

  .notebook-tablist {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    border-bottom: solid 1px $gray-dark;
  }

  .notebook-tab {
    position: relative;
    bottom: -1px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px 10px 0 0;
    border: solid 1px $gray-dark;
    background-color: $gray-dark10;
    padding: 4px 4px 0 4px;
    cursor: pointer;

    .inner {
      display: flex;
      align-items: center;
      border-radius: 5px 5px 0 0;
      padding: 0 7px;
      width: fit-content;
      height: 36px;
    }

    .icon {
      margin-right: 5px;
    }

    &.react-tabs__tab--selected {
      background-color: white;
      border-bottom: solid 1px white;
      pointer-events: none;
    }

    &.habitat {
      &.react-tabs__tab--selected .inner {
        background-color: $habitat-orange;
      }
    }

    &.macro {
      &.react-tabs__tab--selected .inner {
        background-color: $macro-green;
      }
    }

    &.chemistry {
      &.react-tabs__tab--selected .inner {
        background-color: $chemistry-blue;
      }
    }

    &:hover {
      background-color: $gray-dark5;
    }

    &:active {
      background-color: white;
    }
  }

  ul {
    margin: 0;
  }
}
