@import "../vars.scss";

.section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: solid 1px $gray-dark25;
  border-radius: 20px;
  background-color: white;

  .section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $gray-button-hover;
    }

    &:active {
      background-color: black;
      color: white;

      .home-icon {
        fill: white;
      }
    }

    &.selected {
      background-color: black;
      color: white;
      pointer-events: none;

      .home-icon {
        fill: white;
      }
    }

    &:first-child {
      margin-left: 5px;
    }
    &:last-child {
      margin-right: 5px;
    }

  }
}

.habitat-panel .section-buttons .section-button {
  &:hover {
    background-color: $habitat-brown-dark2;
  }
  &.selected, &:active {
    background-color: $habitat-brown-dark3;
  }
}

.macro-panel .section-buttons .section-button {
  &:hover {
    background-color: $macro-green-dark2;
  }
  &.selected, &:active {
    background-color: $macro-green-dark3;
  }
}

.chemistry-panel .section-buttons .section-button {
  &:hover {
    background-color: $chemistry-blue-dark2;
  }
  &.selected, &:active {
    background-color: $chemistry-blue-dark3;
  }
}
