@import "../../vars.scss";

.thumbnail-chooser {
  background-color: white;
  display: flex;
  justify-content: center;

  .thumbnail-chooser-title {
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
    margin: 10px;
  }

  .thumbnail-chooser-list {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
  }
}
