@import "../vars.scss";

.control-group {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: $control-panel-content-height;
  background-color: white;
  border: solid 1px $gray-dark;
  border-bottom: none;
  border-radius: $component-border-radius $component-border-radius 0 0;
  margin: 0 20px;
  &:first-child {
    border-radius: 0 $component-border-radius 0 0;
    border-left: none;
  }
  &:last-child {
    border-radius: $component-border-radius 0 0 0;
    border-right: none;
  }

  .border-cover {
    height: $control-panel-height;
    background-color: white;
    width: 1px;
    position: absolute;
    &.right {
      right: -1px;
    }
    &.left {
      left: -1px;
    }
  }

  .buttons {
    display: flex;

    .vcr-button {
      &:first-child {
        border-radius: $component-border-radius 0 0 0;
      }
      &:last-child {
        border-radius: 0;
      }
    }
  }
}
