@import "../vars.scss";

.control-panel {
  height: $control-panel-height;
  margin-top: calc(#{$control-panel-content-height} - #{$control-panel-height});
  width: 880px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
  border-top: solid 1px $gray-dark;
}
